@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #ffffff;
    background-image: url('../images/pattern-bg.svg'), url('../images/pattern-quotes.svg'), url('../images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-position: right 110px top 50px, left 240px top 200px, bottom left;
    background-size: 570px, 100px, 500px;
    height: 100vh;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10rem;
    transition: all 1s;
}

.contents {
    flex-direction: column;
    row-gap: 1rem;
    position: relative;
    z-index: 1;
    width: 600px;
}

.review p {
    color: var(--dark-blue);
    opacity: 90%;
    font-size: 1.6rem;
    line-height: 1.5;
}

.about {
    column-gap: 1rem;
}

.name {
    color: var(--dark-blue);
    font-weight: 700;
}

.portfolio {
    color: var(--grayish-blue);
}

.image-btns {
    position: relative;
    flex-direction: column;
}

.image {
    width: 25rem;
    transition: all 1s;
}

.image img {
    box-shadow: -8px 1px 20px rgba(0, 0, 0, 0.3);
}

.btns {
    position: relative;
    bottom: 1.4rem;
    justify-content: center;
    align-items: center;
    column-gap: 2.1rem;
    background-color: #ffffff;
    width: 5rem;
    padding: .8rem 0;
    margin-left: 4rem;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

button img {
    width: .5rem;
}

@media screen and (max-width: 1000px) {
    body {
        background-color: #ffffff;
        background-image: url('../images/pattern-bg.svg'), url('../images/pattern-quotes.svg'), url('../images/pattern-curve.svg');
        background-repeat: no-repeat;
        background-position: right 110px top 20px, left 240px top 200px, bottom left;
        background-size: 500px, 100px, 500px;
    }

    .container {
        flex-direction: column-reverse;
        padding: 4rem 0;
        width: 100%;
        height: 100%;
    }

    .contents {
        width: 100%;
        padding: 2rem 4rem;
        text-align: center;
    }

    .about {
        flex-direction: column;
        row-gap: 1rem;
    }

    .btns {
        justify-content: center;
        align-items: center;
        padding: .8rem 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color: #ffffff;
        background-image: url('../images/pattern-bg.svg'), url('../images/pattern-quotes.svg'), url('../images/pattern-curve.svg');
        background-repeat: no-repeat;
        background-position: right 70px top 20px, left 240px top 200px, bottom left;
        background-size: 500px, 100px, 500px;
    }

    .contents {
        padding: 2rem 2rem;
    }

    .image {
        width: 23rem;
    }
}

@media screen and (max-width: 400px) {
    .container {
        flex-direction: column-reverse;
        padding: 4rem 0;
        width: 100%;
        height: 100%;
    }

    .contents {
        width: 100%;
        padding: 2rem 2rem;
        text-align: center;
    }

    .about {
        flex-direction: column;
        row-gap: 1rem;
    }

    .image {
        width: 20rem;
    }

    .btns {
        justify-content: center;
        align-items: center;
        padding: .8rem 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 350px) {
    .image {
        width: 18rem;
    }

    .contents {
        padding: 2rem 1rem;
    }
}